:root {
	/* Colores de fondo */
	--blanco-crema-principal: #541212;
	--azul-grisaceo-secundario: #c3d6d5;
	--verde-azulado-acento: #0F0E0E;

	/* Colores de textos modo claro*/
	--claro-gris-oscuro: #cfcfcf;
	--claro-gris-medio: #cfcfcf;

	/* Color de letras modo oscuro */

	--oscuro-gris-claro: #1c1c1c;
	--oscuro-gris-medio: #cfcfcf;

	/* Colores de fondo oscuro */

	--negro-intenso: #1c1c1c;
	--fondo-gris-oscuro: #514f4f;

	--color-boton: #EEEEEE;
	--color-boton-hover: #acabab;

	--radius: 10px;
	--input-padding: 5px 15px;

	/* color letra  */
	--negro-letra-card: #1c1c1c;

}

html {
	box-sizing: border-box;
	text-align: center;
	background-color: #130606;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

.darkMode {
	background-color: #3f434a;
	color: var(--oscuro-gris-claro);
	background-size: cover;
}

.darkMode h2 {
	color: var(--oscuro-gris-claro);
}

.lightMode {
	background-color: var(--blanco-crema-principal);
	color: var(--claro-gris-oscuro);
	background-size: cover;
}

.lightMode h2 {
	color: var(--claro-gris-oscuro);
}

button {
	border: none;
	background-color: var(--color-boton);
	padding: 5px 15px;
	width: 100px;
	margin: 5px;
	border-radius: 10px;
}

button:hover {
	background-color: var(--color-boton-hover);
}

a {
	text-decoration: none;
	font-size: 18px;
}

select {
	border: none;
	padding: var(--input-padding);
	border-radius: var(--radius);
}

input {
	border-radius: var(--radius);
	padding: var(--input-padding);
	border: none;
}

.invisible {
	z-index: -1;
	margin-bottom: 20px;
	height: 60px;
	width: 90vw;
}

@media (max-width: 480px) {
	.invisible {
		margin-bottom: 65px;
	}
}
