
.container {
	color: #c3d6d5;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-image: url('../../images/fondo-4.png');

}

.container h1 {
	color: #260451;
}
.container h2 {
	color: #260451;
}

.txt {
	font-size: 30px;
	margin-top: 15%;
}


